:root {
	--bg-color: #eeeeee;
	--text-color: #232323;
	--heading-color: #232323;
	--link-color: #0c7881;
	--hover-link-color: #7e5da8;
	--code-block-bg-color: #282a31;
	--code-block-text-color: #cfcfcf;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1a1c22;
		--text-color: #e5e5e5;
		--heading-color: #c9c9c9;
		--link-color: #389278;
		--hover-link-color: #8a7ab8;
		--code-block-bg-color: #12161b;
		--code-block-text-color: #c2c2c2;
	}
}

body {
	font: 1.125rem/1.6 sans-serif;
	max-width: 66ch;
	background-color: var(--bg-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: initial;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	color: var(--heading-color);
}

img {
	max-width: 100%;
	height: fit-content;
	display: block;
}

pre {
	overflow: auto;
	padding: 1rem;
	background-color: var(--code-block-bg-color);
	color: var(--code-block-text-color);
	border-radius: 0.25rem;
}

header nav {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.navbar ul {
	display: flex;
	justify-content: flex-start;
	font-size: 1.375rem;
	padding-left: 0;
}

.navbar li {
	display: inline-block;
	padding-right: 1rem;
}

a,
a code {
	color: var(--link-color);
}

a:hover,
a:focus,
a:hover code,
a:focus code {
	color: var(--hover-link-color);
}

@media (min-width: 48em) {
	html,
	body {
		margin: auto;
	}
}
