:root {
	--bg-color: #eeeeee;
	--text-color: #232323;
	--heading-color: #232323;
	--link-color: #067881;
	--hover-link-color: #8d5a93;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1a1c22;
		--text-color: #e5e5e5;
		--heading-color: #c9c9c9;
		--link-color: #389278;
		--hover-link-color: #887abc;
	}
}

body {
	font: 1.125rem/1.6 sans-serif;
	max-width: 66ch;
	background-color: var(--bg-color);
	color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: initial;
	margin-top: 0;
	color: var(--heading-color);
}

img {
	max-width: 100%;
	height: fit-content;
	display: block;
}

pre {
	overflow: auto;
	border: 1px solid var(--text-color);
	padding: 0.8rem;
}

header nav {
	margin-top: 1.5rem;
}

.navbar ul {
	list-style: none;
	font-size: 1.375rem;
	padding-left: 0;
}

.navbar li {
	display: inline-block;
	padding-right: 0.5rem;
}

a,
a code {
	color: var(--link-color);
}

a:hover,
a:hover code {
	color: var(--hover-link-color);
}

@media (min-width: 48em) {
	html,
	body {
		margin: auto;
	}
}
