:root {
	--dark-theme-bg-color: #212328;
	--dark-theme-text-color: #eeeeee;
	--dark-theme-heading-color: #d4d4d4;
	--dark-theme-link-color: #4b9687;
	--dark-theme-hover-link-color: #a578bd;
}

body {
	font: 1.125rem/1.6 sans-serif;
	max-width: 66ch;
	background-color: var(--dark-theme-bg-color);
	color: var(--dark-theme-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: initial;
	margin-top: 0;
	color: var(--dark-theme-heading-color);
}

img {
	max-width: 100%;
	height: fit-content;
	display: block;
}

pre {
	overflow: auto;
	border: 1px solid var(--dark-theme-text-color);
	padding: 0.8rem;
}

header nav {
	margin-top: 1.5rem;
}

.navbar ul {
	list-style: none;
	font-size: 1.375rem;
	padding-left: 0;
}

.navbar li {
	display: inline-block;
	padding-right: 0.5rem;
}

a,
a code {
	color: var(--dark-theme-link-color);
}

a:hover,
a:hover code {
	color: var(--dark-theme-hover-link-color);
}

@media (min-width: 48em) {
	html,
	body {
		margin: auto;
	}
}
