@font-face {
  src: url("/fonts/source-sans-3-variable-upright-41f608e4a2bfefe2039a2833c86ccf24992c815ad4812bc7322e5779badd045f.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  src: url("/fonts/source-sans-3-variable-italic-cda82a72a727c2344c5c5d237a136262780e1b8b9e384c3d58cdd01627edca83.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-upright-e06e7c7cbf50e1e010a0b69cb4a15fb5cf47f5c1bdb7511e2450d1a245cae218.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-italic-48d47f5358f115bcaa6f801ae969bc6b2eefd92d41d68fce7d94708fd5c8f1be.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  src: url("/fonts/source-sans-3-variable-upright-extended-latin-e4cf10db13387e1766cfef94df5fea081fedcd10aedb8dc2d41cf2a253358706.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+100-130, U+132-151, U+154-24F, U+259, U+1E00-1EFF, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  src: url("/fonts/source-sans-3-variable-italic-extended-latin-231bddcc126af26f107e1f6cc9160164293c80ec7ef245d9a83635926e61c2e0.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+100-130, U+132-151, U+154-24F, U+259, U+1E00-1EFF, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-upright-extended-latin-29b04beca88b5758ecd36c805edc0478d9468c19cb30e18b11427405534e185b.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+100-130, U+132-151, U+154-24F, U+259, U+1E00-1EFF, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-italic-extended-latin-ed69b46a7c01307e0476c24c839c2bdbc4c74aca468ed33649e805b6b40c13d0.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+100-130, U+132-151, U+154-24F, U+259, U+1E00-1EFF, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  src: url("/fonts/source-sans-3-variable-upright-cyrillic-ad0792b84e3d491fcf413b7d19d91b2b39252232827c805cd84949afdfd31dd0.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+400-52F, U+1C80-1C88, U+20B4, U+2116, U+2DE0-2DFF, U+A640-A69F, U+FE2E,
    U+FE2F;
}

@font-face {
  src: url("/fonts/source-sans-3-variable-italic-cyrillic-b6b8fb43349d24d82b6eb9b9c7f308640556d21765dfebad116fe759cbc665cd.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+400-52F, U+1C80-1C88, U+20B4, U+2116, U+2DE0-2DFF, U+A640-A69F, U+FE2E,
    U+FE2F;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-upright-cyrillic-48b1220e6b34f6388288209a3bc461bd476e099199fbb99d5ac856e7c3b16b37.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: normal;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+400-52F, U+1C80-1C88, U+20B4, U+2116, U+2DE0-2DFF, U+A640-A69F, U+FE2E,
    U+FE2F;
}

@font-face {
  src: url("/fonts/source-code-pro-variable-italic-cyrillic-180d23a2ca79d9f4df53348449528b498c10ce44223ec9de8255a2524f5d4629.woff2")
    format("woff2");
  font-display: swap;
  font-family: "Source Code Pro";
  font-style: italic;
  text-rendering: optimizeLegibility;
  unicode-range:
    U+400-52F, U+1C80-1C88, U+20B4, U+2116, U+2DE0-2DFF, U+A640-A69F, U+FE2E,
    U+FE2F;
}

@font-face {
  src: local("Arial");
  font-family: "Source Sans 3-fallback";
  letter-spacing: 0.75px;
  word-spacing: -0.25px;
}

:root {
  --bg-color: #fbf3db;
  --text-color: #3a4d53;
  --heading-color: #53676d;
  --link-color: #006dce;
  --hover-link-color: #8762c6;
  --code-block-bg-color: #ece3cc;
  --code-block-text-color: #3a4d53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #103c48;
    --text-color: #cad8d9;
    --heading-color: #adbcbc;
    --link-color: #58a3ff;
    --hover-link-color: #bd96fa;
    --code-block-bg-color: #174956;
    --code-block-text-color: #cad8d9;
  }
}

body {
  font:
    1.5rem/1.5 "Source Sans 3",
    "Source Sans 3-fallback",
    sans-serif;
  max-width: 66ch;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Source Code Pro", "Courier New", monospace;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--heading-color);
}

img {
  max-width: 100%;
  height: fit-content;
  display: block;
}

p code,
p kbd,
li code,
li kbd {
  background-color: var(--code-block-bg-color);
  color: var(--code-block-text-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

ul li p {
  margin-bottom: 0;
}

pre {
  overflow: auto;
  padding: 1rem;
  background-color: var(--code-block-bg-color);
  color: var(--code-block-text-color);
  border-radius: 0.25rem;
}

header nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  font-size: 1.75rem;
  padding-left: 0;
}

.navbar li {
  display: inline-block;
  padding-right: 1rem;
}

a,
a code {
  color: var(--link-color);
}

a code {
  background-color: var(--bg-color);
}

a:hover,
a:focus,
a:hover code,
a:focus code {
  color: var(--hover-link-color);
}

@media (width >= 48em) {
  html,
  body {
    margin: auto;
  }
}
