body {
  font-family: "Anthesis Legible Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anthesis Legible Sans", sans-serif;
}
code,
kbd,
pre,
samp,
tt,
var {
  font-family: "Anthesis Legible Mono", monospace;
}
