/* variables for use throughout the document */
:root {
	--bg-color: #151522;
	--fg-color: #e6e6e6;
	--link-color: #ad6bad;
	--alt-link-color: #9090e9;
}

body {
	font: 1.125rem/1.6 sans-serif;
	/* 66 characters per line */
	max-width: 66ch;
	background: var(--bg-color);
}

body,
code,
hr {
	color: var(--fg-color);
}

h1,
h2,
h3 {
	line-height: initial;
}

img {
	max-width: 100%;
	height: fit-content;
	display: block;
}

pre {
	overflow: auto;
	border: 1px solid var(--fg-color);
	padding: 0.8rem;
}


/* link behavior/style */
a,
a code {
	color: var(--link-color);
}

a:visited,
a:hover,
a:hover code {
   color: var(--alt-link-color);
}

/* desktop design */
@media (min-width: 48em) {
	html,
	body {
		margin: auto;
	}
}
/* end desktop design */
