:root {
	--bg-color: #0d0d15;
	--fg-color: #bfbfbf;
	--link-color: #a566a5;
	--hover-link-color: #ba7bba;
}

body {
	font: 1.125rem/1.6 sans-serif;
	max-width: 66ch;
	background-color: var(--bg-color);
	color: var(--fg-color);
}

h1,
h2,
h3 {
	line-height: initial;
	margin-top: 0;
}

img {
	max-width: 100%;
	height: fit-content;
	display: block;
}

pre {
	overflow: auto;
	border: 1px solid var(--fg-color);
	padding: 0.8rem;
}

header nav {
	margin-top: 1.5rem;
}

.navbar ul {
	list-style: none;
	font-size: 1.375rem;
	padding-left: 0;
}

.navbar li {
	display: inline-block;
	padding-right: 0.5rem;
}

a,
a code {
	color: var(--link-color);
}

a:hover,
a:hover code {
	color: var(--hover-link-color);
}

@media (min-width: 48em) {
	html,
	body {
		margin: auto;
	}
}
