html,
body {
  font: 20px/1.6 sans-serif;
  background: #070D18;
  color: #E0E9F0;
}

h1,
h2,
h3 {
  line-height: initial;
}

p strong {
  text-decoration: underline;
}

code,
hr {
  color: #E0E9F0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: #996AEA;
  text-decoration: none;
}

.navbar {
  border: 1.5px dotted #E0E9F0;
}

nav li a,
nav li a:visited {
  color: #E0E9F0;
  display: flex;
  padding: 10px;
}

a:hover,
a:hover code {
  color: #80A7F1;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

/*
 *desktop design
 */
@media (min-width: 800px) {
  html,
  body {
    max-width: 75%;
    margin: auto;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 24px;
    outline: outset #E0E9F0;
    border: initial;
  }
  nav li {
    display: block;
    padding: initial;
  }
  nav li a {
    justify-content: center;
    padding: 20px 20px;
  }
}
