/* variables for use throughout the document */
:root {
	--bg-color: #0d0d15;
	--fg-color: #cccccc;
	--dull-color: #86869b;
	--hover-dull-color: #9b9bb0;
	--link-color: #a566a5;
	--hover-link-color: #ba7bba;
	--git-added-color: #7b7bc7;
	--hover-git-added-color: #9090dc;
	--git-deleted-color: #aa6969;
	--hover-git-deleted-color: #bf7e7e;
}

body {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: monospace;
}

img {
	border-radius: 32px;
}

h1,
h2 {
	font-size: 1em;
	margin: 0;
}

#blob a {
	padding: 0 5px 0 0;
}

#blob a:hover {
	text-decoration: none;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#content table td {
	white-space: nowrap;
	vertical-align: top;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

hr {
	border: 0;
	height: 3px;
}

pre {
	font-family: monospace;
}

a,
a:visited {
	color: var(--link-color);
}
a:hover {
	color: var(--hover-link-color);
}

a.d,
a.h,
a.i,
a.line {
	text-decoration: none;
}

a.h,
a.line {
	color: var(--dull-color);
}

a.h:hover,
a.line:hover {
	color: var(--hover-dull-color);
}

a.i,
span.i {
	color: var(--git-added-color);
}

a.i:hover {
	color: var(--hover-git-added-color);
}

a.d,
span.d {
	color: var(--git-deleted-color);
}

a.d:hover {
	color: var(--hover-git-deleted-color);
}
