:root {
	--bg-color: #fbf3db;
	--fg-color: #3a4d53;
	--dull-color: #909995;
	--link-color: #006dce;
	--hover-link-color: #8762c6;
	--git-added-color: #489100;
	--hover-git-added-color: #428b00;
	--git-deleted-color: #d2212d;
	--hover-git-deleted-color: #cc1729;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #103c48;
		--fg-color: #cad8d9;
		--dull-color: #72898f;
		--link-color: #58a3ff;
		--hover-link-color: #bd96fa;
		--git-added-color: #75b938;
		--hover-git-added-color: #84c747;
		--git-deleted-color: #fa5750;
		--hover-git-deleted-color: #ff665c;
	}
}

body {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px;
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: monospace;
}

img {
	border-radius: 32px;
}

h1,
h2 {
	font-size: 1em;
	margin: 0;
}

a,
a:visited {
	color: var(--link-color);
}

a:hover {
	color: var(--hover-link-color);
}

#blob a {
	padding: 0 5px 0 0;
}

#blob a:hover {
	text-decoration: none;
}

table td {
	padding: 0 0.4em;
}

table thead td {
	font-weight: bold;
}

#content table td {
	white-space: nowrap;
	vertical-align: top;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

hr {
	border: 0;
	height: 3px;
}

pre {
	font-family: monospace;
}

a.d,
a.h,
a.i,
a.line {
	text-decoration: none;
}

a.h,
a.line {
	color: var(--dull-color);
}

a.h:hover,
a.line:hover {
	color: var(--hover-dull-color);
}

a.i,
span.i {
	color: var(--git-added-color);
}

a.i:hover {
	color: var(--hover-git-added-color);
}

a.d,
span.d {
	color: var(--git-deleted-color);
}

a.d:hover {
	color: var(--hover-git-deleted-color);
}
